/*****************************
********************* WRAPPER
*****************************/

.wrapper {
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-rows: 74px auto 40px;
  grid-template-columns: 78px auto 78px;
  grid-template-areas:
    ". . ."
    ". c ."
    ". . .";
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 120px auto 120px;
  }
}

.blog__container {
  grid-area: c;
  justify-self: center;
  width: 100%;
  max-width: 768px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  display: block;
}

.blog__container.display {
  opacity: 1;
}

.blog__post {
  padding: 1rem 0;
}

.blog__container > .blog__post:last-child {
  margin-bottom: 8rem;
}

.blog__post-heading {
  margin: 1.5rem 0;
}

@media (min-width: 768px) {
  .blog__post-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.blog__post-title {
  display: block;
  font-family: "Open Sans";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  -ms-flex-item-align: center;
  align-self: center;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .blog__post-title {
    margin-bottom: 0;
  }
}

.blog__post-date {
  display: block;
  -ms-flex-item-align: center;
  align-self: center;
}

.blog__post-content {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  font-family: Lora, serif;
  line-height: 1.6rem;
  text-align: justify;
  /* padding: 1rem 0; */
}

.blog__post-content > p {
  margin: 1rem 0;
}

.blog__post-content > ul {
  list-style-type: none;
  padding-left: 2rem;
  margin: 1rem 0;
}

.blog__post-content > ul > li {
  line-height: 1.6rem;
}

.blog__post-divider {
  width: 25%;
  height: 3px;
  background: #e5e5e5;
  margin: 0 auto;
  -webkit-animation: loadDivider 0.8s ease-out;
  animation: loadDivider 0.8s ease-out;
}

@-webkit-keyframes loadDivider {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 25%;
  }
}

@keyframes loadDivider {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 25%;
  }
}

.blog__page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.blog__arrow {
  position: relative;
  background: transparent;
  outline: none;
  border: none;
  width: 50%;
  height: 70px;
}

.blog__arrow-bar {
  position: absolute;
  pointer-events: none;
  background: #bbbbbb;
  height: 3px;
  width: 32px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog__arrow:hover {
  cursor: pointer;
}

.blog__arrow:hover > .blog__arrow-bar {
  background: #333;
}

.blog__arrow:disabled:hover {
  cursor: auto;
}

.blog__arrow:disabled > .blog__arrow-bar {
  background: #e5e5e5;
}

.blog__arrow:disabled:hover > .blog__arrow-bar {
  background: #e5e5e5;
}

.blog__arrow-future-bar-1 {
  right: 50%;
  top: 21px;
  -webkit-transform: rotate(-56deg);
  transform: rotate(-56deg);
}

.blog__arrow-future-bar-2 {
  right: 50%;
  top: 46px;
  -webkit-transform: rotate(56deg);
  transform: rotate(56deg);
}

.blog__arrow-past-bar-1 {
  left: 50%;
  top: 21px;
  -webkit-transform: rotate(56deg);
  transform: rotate(56deg);
}

.blog__arrow-past-bar-2 {
  left: 50%;
  top: 46px;
  -webkit-transform: rotate(-56deg);
  transform: rotate(-56deg);
}
