/*****************************
********************* TOOLBAR
*****************************/

.toolbar {
  height: 54px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background: #f0f0f0;
  z-index: 40;
  transition: all 0.3s ease;
}

.toolbar > a {
  display: block;
  margin: auto 0 auto auto;
  padding: 6px 12px;
  text-decoration: none;
  color: #333;
  letter-spacing: 4px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .toolbar {
    position: absolute;
    background: transparent;
  }
}

/*****************************
********************* SIDEBAR
*****************************/

.sidebar {
  position: fixed;
  z-index: 41;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  display: flex;
}

.gallery__selector {
  position: relative;
  margin: auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gallery__radio-button {
  display: none;
}

.gallery__radio-button-label {
  display: flex;
  height: 30px;
  width: 100%;
  /* background: yellow; */
}

.gallery__radio-button-circle {
  background: #d5d5d5;
  width: 10px;
  height: 10px;
  margin: auto auto;
  border-radius: 50%;
  transition: 0.3s all ease;
}
.gallery__radio-button-label:hover {
  cursor: pointer;
}
.gallery__radio-button-label:hover > .gallery__radio-button-circle {
  background: #bbbbbb;
}
.gallery__radio-button:checked
  + .gallery__radio-button-label
  > .gallery__radio-button-circle {
  background: #333333;
}

/*****************************
********************** FOOTER
*****************************/

footer {
  display: none;
}

@media (min-width: 768px) {
  footer {
    display: block;
    position: fixed;
    width: 4rem;
    height: 4rem;
    bottom: 0;
    right: 0;
    z-index: 100;
  }
  .email-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("../../images/icons/contact.svg");
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

/*****************************
********************* WRAPPER
*****************************/

.wrapper {
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 74px auto 40px;
  grid-template-areas:
    ". . ."
    ". g ."
    ". . .";
}

@media (min-width: 768px) {
  .wrapper {
    height: 100%;
    grid-template-columns: 78px auto 78px;
  }
}

/*****************************
****************** PHOTO GRID
*****************************/

.photogrid__grid {
  grid-area: g;
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: auto;
  transition: opacity 0.2s ease;
  pointer-events: none;
  opacity: 0;
}

.photogrid__grid.display {
  pointer-events: all;
  opacity: 1;
}

.photogrid__image-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.photogrid__image {
  width: 100%;
  height: auto;
}

.photogrid__image:hover {
  opacity: 0.5;
}

.photogrid__image-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 30;
}

@media (min-width: 768px) {
  .photogrid__grid {
    justify-self: center;
    align-self: center;
    position: relative;
    width: 100%;
    max-width: 960px;
    height: 100%;
    max-height: 768px;
  }

  .photogrid__image-wrapper {
    display: grid;
    height: 100%;
  }

  /* GRID 1 */

  .photogrid__grid-1 {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 7.5fr;
    grid-template-areas:
      "i1 i2"
      "i3 i2";
  }

  .photogrid__image-wrapper-1 {
    grid-area: i1;
  }

  .photogrid__image-1 {
    width: 80%;
    align-self: start;
    justify-self: start;
  }

  .photogrid__image-wrapper-2 {
    grid-area: i2;
  }

  .photogrid__image-2 {
    width: 80%;
    align-self: center;
    justify-self: end;
  }

  .photogrid__image-wrapper-3 {
    grid-area: i3;
  }

  .photogrid__image-3 {
    width: 70%;
    align-self: end;
    justify-self: end;
  }

  /* GRID 2 */

  .photogrid__grid-2 {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 7.5fr 5fr;
    grid-template-areas:
      "i4 i5"
      "i4 i6";
  }

  .photogrid__image-wrapper-4 {
    grid-area: i4;
  }

  .photogrid__image-4 {
    width: 80%;
    align-self: center;
    justify-self: start;
  }

  .photogrid__image-wrapper-5 {
    grid-area: i5;
  }

  .photogrid__image-5 {
    width: 85%;
    align-self: start;
    justify-self: end;
  }

  .photogrid__image-wrapper-6 {
    grid-area: i6;
  }

  .photogrid__image-6 {
    width: 100%;
    align-self: end;
    justify-self: start;
  }

  /* GRID 3 */

  .photogrid__grid-3 {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 7.5fr;
    grid-template-areas:
      "i7 i8"
      "i9 i8";
  }

  .photogrid__image-wrapper-7 {
    grid-area: i7;
  }

  .photogrid__image-7 {
    width: 85%;
    align-self: start;
    justify-self: start;
  }

  .photogrid__image-wrapper-8 {
    grid-area: i8;
  }

  .photogrid__image-8 {
    width: 80%;
    align-self: center;
    justify-self: end;
  }

  .photogrid__image-wrapper-9 {
    grid-area: i9;
  }

  .photogrid__image-9 {
    width: 100%;
    align-self: end;
    justify-self: end;
  }

  /* GRID 4 */
  .photogrid__grid-4 {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 8fr 5fr;
    grid-template-areas:
      "i10 i11"
      "i10 i12";
  }

  .photogrid__image-wrapper-10 {
    grid-area: i10;
  }

  .photogrid__image-10 {
    width: 85%;
    align-self: center;
    justify-self: start;
  }

  .photogrid__image-wrapper-11 {
    grid-area: i11;
  }

  .photogrid__image-11 {
    width: 85%;
    align-self: start;
    justify-self: end;
  }

  .photogrid__image-wrapper-12 {
    grid-area: i12;
  }

  .photogrid__image-12 {
    width: 85%;
    align-self: end;
    justify-self: start;
  }
}
